openapi: 3.1.0
info:
  title: Cillo Bridge API
  version: 2.1.0
  description: API officielle pour connecter un GPT a Cillo Bridge sans authentification cachee. Les operations protegees utilisent un champ password compare a ADMIN_PASSWORD cote serveur.

servers:
  - url: https://bridge.lesmotsimages.com

components:
  schemas:
    PageDraftInput:
      type: object
      additionalProperties: false
      properties:
        password:
          type: string
          description: Mot de passe administrateur Bridge.
        siteSlug:
          type: string
          description: Identifiant du site, par exemple main.
        slug:
          type: string
          description: Slug URL de la page ou du brouillon.
        title:
          type: string
          description: Titre du brouillon.
        metaTitle:
          type: string
          description: Titre SEO facultatif.
        metaDescription:
          type: string
          description: Description SEO facultative.
        markdown:
          type: string
          description: Contenu source en Markdown, facultatif.
        html:
          type: string
          description: Contenu HTML propre, sans scripts dangereux.
      required:
        - password
        - siteSlug
        - slug
        - title
        - html

    PageDraftUpdateInput:
      type: object
      additionalProperties: false
      properties:
        password:
          type: string
          description: Mot de passe administrateur Bridge.
        siteSlug:
          type: string
        slug:
          type: string
        title:
          type: string
        metaTitle:
          type: string
        metaDescription:
          type: string
        markdown:
          type: string
        html:
          type: string
      required:
        - password

    ProtectedActionInput:
      type: object
      additionalProperties: false
      properties:
        password:
          type: string
          description: Mot de passe administrateur Bridge.
      required:
        - password

paths:
  /health:
    get:
      operationId: health_check
      summary: Verifier que Bridge fonctionne
      description: Retourne l'etat de sante du service Bridge.
      x-openai-isConsequential: false
      responses:
        "200":
          description: Bridge fonctionne.

  /api/pages:
    post:
      operationId: list_site_pages
      summary: Lister les pages et brouillons
      description: Liste les pages disponibles dans Cillo Bridge. Utilise POST pour transmettre le password dans le body.
      x-openai-isConsequential: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                password:
                  type: string
                  description: Mot de passe administrateur Bridge.
                siteSlug:
                  type: string
                  description: Filtrer par site ou destination, par exemple main.
              required:
                - password
      responses:
        "200":
          description: Liste des pages et brouillons.

  /api/pages/draft:
    post:
      operationId: create_page_draft
      summary: Creer un brouillon
      description: Cree un nouveau brouillon dans Cillo Bridge.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PageDraftInput"
      responses:
        "200":
          description: Brouillon cree avec succes.

  /api/pages/{id}:
    patch:
      operationId: update_page_draft
      summary: Modifier un brouillon
      description: Modifie uniquement un brouillon existant.
      x-openai-isConsequential: true
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: ID exact du brouillon ou de la page.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PageDraftUpdateInput"
      responses:
        "200":
          description: Brouillon modifie avec succes.

  /api/pages/{id}/review:
    post:
      operationId: submit_page_for_review
      summary: Envoyer un brouillon en review
      description: Passe un brouillon en statut review uniquement sur ordre explicite.
      x-openai-isConsequential: true
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: ID exact du brouillon.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProtectedActionInput"
      responses:
        "200":
          description: Brouillon envoye en review.

  /api/pages/{id}/approve:
    post:
      operationId: approve_page
      summary: Approuver une page
      description: Approuve une page uniquement sur ordre explicite de l'utilisateur.
      x-openai-isConsequential: true
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: ID exact de la page a approuver.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProtectedActionInput"
      responses:
        "200":
          description: Page approuvee.

  /api/pages/{id}/publish:
    post:
      operationId: publish_approved_page
      summary: Publier une page approuvee
      description: Publie uniquement une page deja approuvee et uniquement sur ordre explicite de publication.
      x-openai-isConsequential: true
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: ID exact de la page approuvee a publier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProtectedActionInput"
      responses:
        "200":
          description: Page publiee avec URL publique.
